[2020-06-05 16:11] lmatab opened #1 "Error Trait 'Laravel\Cashier\Billable' not found"
- Cashier Paddle Version: v.1.0.0-beta
- Laravel Version: 7.13.0
- PHP Version: 7.4
- Database Driver & Version: Mysql

### Description:
After following the steps in the docs I get this error:
[code]
### Steps To Reproduce:

$user = App\User::find(1);
$payLink = $user->newSubscription('default', 'premium')
    ->returnTo(route('home'))
    ->create();

[2020-06-05 16:14] lmatab commented on #1
I have made this change to make it work:

[code]
 for

[code]
in the App\User model and it works now, maybe a typo in the docs.

[2020-06-05 16:14] akiyamaSM commented on #1
@lmatab Thats correct.

[2020-06-05 16:19] driesvints commented on #1
Hey thanks. I already updated the incorrect docs. Thanks for testing!

[2020-06-05 16:19] #1 closed

[2020-06-09 19:19] stefanzweifel opened #4 "Coupon Code is not applied when using "withCoupon()"?"
- Cashier Paddle Version: 1.0.0-beta
- Laravel Version: 7.13.0
- PHP Version: 7.4.5
- Database Driver & Version: MySQL 5.7

### Description:
I'm trying to apply a coupon to a pay link by using the SubscriptionBuilder and the `withCoupon()`-method.

In my app, the checkout process looks like this:

1. User selects a planfrom a list of plans and adds an optional coupon code and submits the form
2. C

[2020-06-11 04:34] alzaabi98 commented on #4
I am not able to build paylink using this code

[code]

I got blank screen,

any has similar issues

        "laravel/cashier-paddle": "^1.0@beta",
        "laravel/framework": "^7.0",
        "php": "^7.2.5",

[2020-06-11 11:24] driesvints commented on #4
@stefanzweifel I can confirm this doesn't work. I'll pick this up with Paddle.

[2020-06-11 11:24] driesvints commented on #4
@alzaabi98 that works perfectly for me. I think that might be due to a network issue on your end? Maybe best to pick up with Paddle itself.

[2020-06-11 12:22] driesvints commented on #4
@stefanzweifel I just tested this again and Product coupons work for me. Can you please share your exact setup of products and the product coupon?

[2020-06-11 12:32] kmountford commented on #4
Hi @stefanzweifel, there is a known issue with checkout coupons and the pay link API that cashier makes use of. As Dries has mentioned, there shouldn't be an issue with product coupons so we'd encourage you to use them for time being.

I've added this thread to our bug tracker and will endeavour to keep you updated when a fix is pushed out.

[2020-06-11 12:34] kieran-paddle commented on #4
Hi @stefanzweifel, there is a known issue with checkout coupons and the pay link API that cashier makes use of. As Dries has mentioned, there shouldn't be an issue with product coupons so we'd encourage you to use them for the time being.

I've added this thread to our bug tracker and will endeavour to keep you updated when a fix is pushed out.

[2020-06-11 13:45] alzaabi98 commented on #4
@driesvints I was able to make it via normal paddle href with plan id. I am not sure why I am getting blank screen with no errors. I dont think it is network issue. Do you have full sample to test method in laravel ? thanks

[2020-06-11 13:47] driesvints commented on #4
@alzaabi98 the snippet you posted is the full example.

[2020-06-11 13:55] alzaabi98 commented on #4
so " ->returnTo(route('home'))" does not mean to route to home after you get url ? I thought it means that..

Now I changed my code this way and it worked :

[code]

[2020-06-11 14:06] driesvints commented on #4
I'm not really sure what's unclear in the docs. The docs here tell you to use the pay link in a Blade component:

![Screenshot 2020-06-11 at 16 05 46](https://user-images.githubusercontent.com/594614/84394633-7f5b8000-abfd-11ea-99f1-e5219423162a.png)

[2020-06-11 14:07] driesvints commented on #4
Further down at subscriptions it also notes:

[2020-06-11 14:13] alzaabi98 commented on #4
I thought returnto mean will route you to home to see the button but it means when you complete the transaction it will route you back. my be my mistake .. thanks

[2020-06-11 18:39] stefanzweifel commented on #4
@driesvints @kieran-paddle Thanks for the info about checkout-coupons. After thinking about a minute about it, this makes total sense to me (as a paylink is for a product subscription).

My reported bug was a mistake on my side however. Forgot to link the product-coupon with my plans 🤦
Now everything works as expected.

Sorry for the noise :)

[2020-06-11 18:42] driesvints commented on #4
@stefanzweifel glad you found a fix 👍

I'm gonna leave this open a while longer to follow up until Paddle has fixed checkout coupons.

[2020-06-11 18:57] enkota opened #5 "Issue with models other than User"
Hi,

Thanks for creating this package! Hoping to test this out on my next app.

I've discovered a couple small issues so far.

1. When creating the migration files it seems to still use the `stripe_id` etc instead of the one's made automatically by this package.

2. If using another Model for Billable, when I try to go create a `payLink` it will return the following error (seems like it's trying t

[2020-06-11 19:35] driesvints commented on #5
Heya, thanks for testing out! The auth idenfitier issue has already been resolved by https://github.com/laravel/cashier-paddle/pull/3 and will be in the next beta tag.

There's no reference to stripe_id anywhere here in this package. Are you sure you're looking at the correct code? If there's a `stripe_id` reference then it's somewhere in your own app.

[2020-06-11 19:35] driesvints commented on #5
You can use dev-master for now to work around the auth identifier issue btw.

[2020-06-11 19:39] enkota commented on #5
Hey @driesvints thanks for the speedy response!

Ahh it must have conflicted with a previous version of stripe cashier. Will check see what’s causing that.

That’s great, will go try the dev build!

[2020-06-11 19:44] FreddyCrugger opened #6 "Can we use it in production?"
Hello!,

Thanks for this superb package, I cannot wait to install it on my Laravel 7 app.
Is it safe to use in production? If not, when do you think it will be safe enough for a launch?

Thank you so much,

[2020-06-11 21:03] FreddyCrugger opened #7 "Unable to find requested product"
[code]

### Description:
I cannot get the test working form the doc

### Steps To Reproduce:

I added this in my blade header:
[code]

This in my home.blade.php
[code]

My home controller:

[code]

I get this:

[code]

So I thought first that I had to create manually the product which I did in my paddle account and called it "premium".

I have also set the API details in the .ENV . I checked my ke

[2020-06-11 21:26] #5 closed

[2020-06-11 21:27] driesvints commented on #7
You seem to be using some string called "premium" instead of the product ID.

[2020-06-11 21:28] driesvints commented on #7
I just saw the docs are incorrect. I'll try to update these tomorrow. Thanks for testing!

[2020-06-11 22:41] FreddyCrugger commented on #7
Thank you so much :-))))))

[2020-06-12 08:52] driesvints commented on #6
Heya, please see the note in the readme and in the docs. While in beta we don't recommend shipping to production. Atm we don't have a launch date. The more people help test the beta, the faster we can release a stable version.

[2020-06-12 08:52] #6 closed

[2020-06-12 09:01] FreddyCrugger commented on #6
Ok thanks, started the integration last night, will go through everything daily as I am also in contact with Paddle via email. Will log in any bugs I may encounter on Git don't worry.

[2020-06-12 09:02] driesvints commented on #7
I've sent in a PR here: https://github.com/laravel/docs/pull/6108

[2020-06-12 09:02] #7 closed

[2020-06-12 17:26] FreddyCrugger commented on #4
Just to let you know, I got caught with the exact same issue from your doc. I thought that:
`     ->returnTo(route('home')) `

Was the actual returned view until I saw this post and this:
[code]

A lot of people will get caught with this I believe. It would be nice to have this added to the example in your doc:
`return view('home')->with('payLink', $payLink);`

Thanks

[2020-06-12 18:27] driesvints commented on #4
Yeah I agree. I sent in a pr here: https://github.com/laravel/docs/pull/6109

[2020-06-13 13:41] enkota opened #8 "Passing email on PayLink with custom Billable model"
Hey again,

When using something other than `User` for `Billable` I can't seem to pass through the `customer_email` parameter as specified on the [Paddle docs](https://developer.paddle.com/api-reference/product-api/pay-links/createpaylink).

[code]

Price seems to work fine, but using `customer_email` will not pre-fill the email field. I have tried adding `marketing_consent = 1` as it mentions thi

[2020-06-13 13:49] enkota commented on #8
I can see under `ManagesCustomer` you are referencing the email column on the particular model. It would be good to override this so we can set the `customer_email` in the create method.

[code]

[2020-06-13 14:08] enkota opened #9 "Publish blade file for button component"
Couldn't see in docs if this is available, but would be good to allow users to publish the `x-paddle-button` component so we can override the default green styling better.

[2020-06-13 14:16] enkota commented on #9
Looks like `data-theme="none"` solves this.

[code]

[2020-06-14 13:59] robsontenorio opened #10 "Invalid signature from webhook"
- Cashier Paddle Version: 1.0@beta
- Laravel Version: 7.15
- PHP Version: 7.4
- Database Driver & Version: Mysql 8.0

### Description:

I am getting invalid signature error from webhook. After debug just noticed  :

- Cashier relies on `$request->except()` , so `$request->all()`
- The problem is `$request` automatically includes a extra field `q`, and this field should not be included on signature

[2020-06-14 14:16] robsontenorio commented on #10
It was a problem with nginx config

before
[code]

after
[code]

[2020-06-14 14:16] #10 closed

[2020-06-14 21:51] AbdelilahLbardi commented on #9
@enkota You can override cashier button component after publishing the views by doing the following command `php artisan vendor:publish --tag cashier-views`

[2020-06-15 08:32] driesvints commented on #9
I left it like this because some people maybe want to use the default green. You can indeed use ` data-theme="none"` to remove any default Paddle styling. I'll document this.

[2020-06-15 08:32] #9 closed

[2020-06-15 08:41] driesvints commented on #8
Hey @enkota. Please read the core concepts in the docs, particularly the section here: https://laravel.com/docs/7.x/cashier-paddle#user-identification

We take over control of the `customer_email` key in Cashier to ensure every payment made is properly linked to the same use in Paddle. This is absolutely vital to make sure Cashier Paddle works properly.

Unfortunately this is due to how Paddle's u

[2020-06-15 08:41] #8 closed

[2020-06-15 18:33] enkota commented on #8
Hey @driesvints. I understand that you need to control the `customer_email` key, however, at the moment when using a different `Billable` model than `User`, the payLink will not assign to any email and require the user to enter one on the pop-up.

I do not need to update the email after creation, only the inital subscription where the `Tenant` owner is the relation to the user.

If you’d rather no

[2020-06-15 19:03] driesvints commented on #8
Hmm we don't allow that anywhere?

I think you're looking for https://laravel.com/docs/7.x/cashier-paddle#customer-defaults. You can overwrite the `paddleEmail` method just like you did. It was intended to be used like this. I'm not sure if I understand you completely correctly?

[2020-06-15 20:37] Hussam3bd opened #11 "Paddle Checkout - Function name must be a string"
- Cashier Paddle Version: 1.0@beta

[code]
https://share.getcloudapp.com/YEup1Xrv

I think the `()` in `$options()` added by mistake or sth?

[2020-06-15 21:50] enkota commented on #8
Hey @driesvints ahh sorry, missed that part in the docs. Didn’t realise we could override that on the Model. All makes sense now :) Thanks!

[2020-06-16 10:08] driesvints commented on #11
Hmm no that should perfectly work. Can you share how you're using the checkout component?

[2020-06-17 01:28] techguydev opened #12 "Cashier paddle-button for vue.js"
I am creating a  tool in laravel nova and it uses vue.js, it would be nice to have a button to use there just like the blade component.

[2020-06-17 08:33] enkota opened #13 "Possible bug with Safari 13.1.1"
- Cashier Paddle Version: Latest Dev Build

### Description:
When trying to click the "Subscribe" pop-up after creating a payLink in Safari, the browser will hang and never load the pop-up. The same issue occurs when switching to inline checkout.

When attempting the same steps on Firefox or Chrome the pop-up will load correctly. I have cleared cookies/cache and extensions as well incase Safari wa

[2020-06-17 08:39] enkota commented on #13
Update: Looks like an issue Paddles end. I have just tested on Table Plus who use Paddle and freezes on Safari - https://tableplus.com/pricing

I will report directly to Paddle and report back once fixed!

[2020-06-17 09:18] Hussam3bd commented on #11
Hi @driesvints

PHP Version: 7.4.2
Laravel Version: 7.3.0

Here how I'm using it.

[code]

[code]

Even when I try to pass options to the checkout component:

[code]
I get the same error

[code]

[2020-06-17 12:54] driesvints commented on #12
Heya, atm we're not planning on anything like this for any JS frameworks. Feel free to release a package of your own if you'd like!

[2020-06-17 12:54] #12 closed

[2020-06-17 12:58] driesvints commented on #13
Heya, I've always used the latest Safari to test and never experienced this. Thanks for looking into this. I'm closing this now but feel free to reply when Paddle gets back to you.

[2020-06-17 12:58] #13 closed

[2020-06-19 09:41] driesvints commented on #11
That's super odd. I can use it just fine:
![Screenshot 2020-06-19 at 11 40 35](https://user-images.githubusercontent.com/594614/85119237-bc3cfd80-b221-11ea-9605-3ab6dd432ac6.png)

[2020-06-19 09:41] driesvints commented on #11
Does upgrading to the latest laravel version fixes the problem for you?

[2020-06-19 09:42] driesvints commented on #11
Make sure to clear your view cache after that.

[2020-06-19 09:58] Hussam3bd commented on #11
@driesvints yeah thank you that solved the problem!

[2020-06-19 09:58] #11 closed

[2020-06-19 12:45] techguydev opened #14 "You don't have permission to access this resource"
- Cashier Paddle Version:1.0
Laravel Version: 7
- PHP Version: 7.4
- Database Driver & Version:

### Description:
After I have changed account and updated all the security parameter (id,public key etc) I am getting this error:

```Laravel/Paddle/Exceptions/PaddleException with message 'You don't have permission to access this resource```

has this happened to anyone?, what might trigger it?, I hav

[2020-06-19 12:51] driesvints commented on #14
Do all the resources in your database, your product ids in your code etc belong to the new account?

If it's an env issue: `php artisan config:clear`.

[2020-06-19 13:07] techguydev commented on #14
Hi @driesvints  thanks a lot for the fast feedback.

it is solved now, it had confused the " Your API Key " with the "Auth Code"

If this happens to some one too you have to select the information that is in this address:
```https://vendors.paddle.com/authentication````
Thanks

[2020-06-19 13:07] #14 closed

[2020-06-20 14:38] techguydev opened #15 "How to check if the user is one trial or subscribed to any plan"
I have 3 different subscriptions : Basic,pro,unlimited.

I am planning to use policies to check if a user is subscribed to a determined plan or to some plan at all or if he/she is on trial, is there a function or a way to check  if a user is on trial of any plan or subscribed to any plan?

Thanks for this wonderful packages @driesvints , I am almost done with the implementation in my SaaS.

[2020-06-20 14:42] techguydev commented on #15
I have found that with
[code]

Works great to check if the user is on any trial.

Is there something similar to check if the user is on any active plan?

[2020-06-20 14:52] techguydev commented on #15
```$user->subscriptions()->where('paddle_status','active')->count()  >= 1 ````
seems to work well to check if the user has any active subscription.

[2020-06-22 11:17] driesvints commented on #15
Hey @techguydev, that's described here: https://laravel.com/docs/7.x/cashier-paddle#checking-subscription-status

![Screenshot 2020-06-22 at 13 16 33](https://user-images.githubusercontent.com/594614/85281621-9bc3ac00-b48a-11ea-9858-80e919c9e5fd.png)

Is that what you need?

[2020-06-22 15:41] techguydev commented on #15
Hi @driesvints
[code]
Works great if you have just one subscription type.

In my use case I have 3 subscriptions types:basic,pro,unlimited.

I am creating a workflow where I need to check if a given user has any subscriptions at all ( of any type) or if he/she  is on trial, or on trial with a given subscription.

I might just join them like this:

[code]
I just wanted to know if there is any funct

[2020-06-23 09:51] driesvints commented on #15
Hey @techguydev, no there isn't such a feature atm it seems. If you indeed only need to check the active state you can do

[code]

But that's not the same as `subscribed` which takes into account "valid" subscriptions:

[code]

I'll mark this as a feature request.

[2020-06-23 12:45] techguydev commented on #15
Thanks @driesvints

[2020-06-30 10:19] SebastianSchoeps opened #20 "Method "isValidSignature" actually is "isInvalidSignature""
Hi,

functionality is right, but `VerifyWebhookSignature@isValidSignature` actually checks if the signature is invalid. I would propose to leave the method name, but return `return openssl_verify(...) === 1` instead of `return openssl_verify(...) !== 1` and change `if ($this->isValidSignature($fields, $signature)) {` to `if (!$this->isValidSignature($fields, $signature)) {`.

https://github.com/la

[2020-06-30 11:28] driesvints commented on #20
Good spot! I've updated the method name.

[2020-06-30 11:28] #20 closed

[2020-07-01 20:45] frkcn commented on #15
This PR fix this problem. https://github.com/laravel/cashier-paddle/pull/22

[2020-07-01 21:39] techguydev commented on #15
@frkcn  looks insteresing

[2020-07-02 11:42] alihusic opened #23 "Enable opt-in Subscription model publishing"
Every system where one user can have multiple subscriptions (for example owns multiple organizations with different subscription plans) would need to have some additional internal subscription information (maybe a foreign key).

I think it would be beneficial to allow publishing the Subscription model so that some methods and fillable fields may be overriden.

If this is already possible, please e

[2020-07-02 11:55] driesvints commented on #23
In general I recommend keeping your custom database scheme separate than that from Cashier. Especially in the next beta where we'll introduce a model that's completely separate (even the customer database fields). So I think the 1:1 approach is the way to go here.

[2020-07-02 11:55] #23 closed

[2020-07-02 16:26] kieran-paddle commented on #4
@driesvints(and anyone else following this), I pushed a fix for checkout coupons today so they will now work for checkouts generated with the pay link API. Sorry it took a little while to get out!

[2020-07-03 13:45] driesvints commented on #4
Works again indeed! Thanks @kieran-paddle.

[2020-07-03 13:45] #4 closed

[2020-07-05 14:24] alzaabi98 opened #27 "Support Frontend via paylinks"
**Support FrontEnd payments using laravel cachier-paddle as backend**

I tried to send paylinks to nuxtjs application via json using the below code. I was able to make order but there is no webhook request coming back to store subscription information to the laravel backend. I noticed that customer email was not shown in the checkout as when i do x-paddle-button which recognize customer email.
[co

[2020-07-05 14:31] alzaabi98 opened #28 "Get next_bill_date for a subscription"
Normally for any subscription user should know their next payment date . It will be good idea if there is a way to update subscription table to next_bill_date. There is data coming from paddle "next_bill_date" when order is completed but not sure if there a webhook to update this information or if there is a way cachier-paddle can pull information from time to time and update all subscription tabl

[2020-07-06 05:48] #27 closed

[2020-07-06 05:50] alzaabi98 commented on #27
I had to pass user from frontend to backend when I ask to generate pay links for frontend user. In this case I got the same user email and also webhook worked fine and it generates a record in subscribtion table.

[2020-07-06 10:04] driesvints commented on #28
Hey @alzaabi98. You have `lastPayment` and `nextPayment` on the `Subscription` model which will return an instance of `Laravel\Paddle\Payment` (or `null` if there isn't a next payment anymore). I'll try to document this.

[2020-07-06 10:04] #28 closed

[2020-07-06 13:20] alzaabi98 commented on #28
Thanks for your answer, it will be great to show how can I access this model. I tried $user->subscription()->lastPayment but it does not work.

[2020-07-06 13:23] driesvints commented on #28
Is your subscription name `default`? Because depending if your subscription has a different name you'll have to pass that explicitly:

[code]

[2020-07-06 13:24] alzaabi98 commented on #28
@driesvints  yes it worked for me now .. thanks again !

[2020-07-07 05:46] alzaabi98 opened #32 "How to get plan name and amount"
Is there any way to bring subscription plan name and amount along with subscription model ? now I can see only plan id. other way is to maintain another table in backend to hold paddle plan id and other plan details manually.

[2020-07-07 05:47] alzaabi98 opened #33 "How to generate invoice for users"
Does the package provide any means to generate invoices or this has to be manual process ?

[2020-07-07 08:37] GrahamCampbell commented on #33
Note that if you are using Paddle, you are legally not allowed to generate invoices yourself. You have to have Paddle issue them, because they are the merchant of record. You are not the seller, they are.

[2020-07-07 09:44] driesvints commented on #33
@GrahamCampbell is correct. Plus Paddle doesn't even gives us all the info through the API that we'd need (like address, individual line items, etc).

[2020-07-07 09:44] #33 closed

[2020-07-07 09:48] driesvints commented on #32
Hey @alzaabi98. That's documented here: https://laravel.com/docs/7.x/cashier-paddle#prices

More info about the endpoint that's being used can be found here: https://developer.paddle.com/api-reference/checkout-api/prices/getprices

There's also https://developer.paddle.com/api-reference/subscription-api/plans/listplans if you want to consume the API directly.

[2020-07-07 09:48] #32 closed

[2020-07-07 09:50] driesvints commented on #32
In general I'd recommend to use the prices functionality because you can limit the plans to only the ones you want. The listplans endpoint just returns all plans on the account.

[2020-07-07 10:46] alzaabi98 commented on #33
@GrahamCampbell @driesvints
so how can customer get invoices then ? if someone registered  in my site and then subscribe to plan let us say monthly . how he can generate invoices. ? at this time my site charged him using cahier-paddle but he cant access paddle directly as he does have account there  ? still not getting the full picture.

i know most sites offered a button to download invoice for i

[2020-07-07 10:49] driesvints commented on #33
@alzaabi98 I think you missed this section in the documentation: https://laravel.com/docs/7.x/cashier-paddle#transactions

![Screenshot 2020-07-07 at 12 49 20](https://user-images.githubusercontent.com/594614/86769981-4a9de580-c050-11ea-9e95-7a30167716de.png)

[2020-07-07 10:51] alzaabi98 commented on #32
@driesvints
i want my user to be able to visit subscription page in my website and then he can view what plans he subscribed to .. monthly ,yearly.

also to provide option to swap plans,

i dont see how prices can get me this data , currently , i am sending him this info

[code]
I want also to show him name of the plan .

[2020-07-07 11:08] driesvints commented on #32
Hey @alzaabi98. I'm very happy to help you out but this is again something that is directly said in the docs: https://laravel.com/docs/7.x/cashier-paddle#prices

![Screenshot 2020-07-07 at 13 07 39](https://user-images.githubusercontent.com/594614/86771629-da449380-c052-11ea-954f-e2e82394725a.png)

Can you please read the docs carefully before opening issues? Thanks.

[2020-07-07 11:32] driesvints commented on #32
Btw, the next beta will include support for checking the billing interval, etc.: https://github.com/laravel/cashier-paddle/pull/24

[2020-07-07 12:34] alzaabi98 commented on #33
@driesvints  yes i did  ,, as i was searching "generate invoices" ,  the doc is not clear as cachier-stripe which has for example sections called
<img width="416" alt="Screen Shot 2020-07-07 at 4 31 17 PM" src="https://user-images.githubusercontent.com/7835187/86781970-9d3aca00-c06f-11ea-89e8-4a4e7dbb6a01.png">

[2020-07-07 12:38] driesvints commented on #33
Cashier Stripe and Cashier Paddle are two totally different libraries just like Stripe and Paddle are two totally different services. They don't offer the exact same functionality.

[2020-07-07 13:01] alzaabi98 commented on #32
@driesvints  Thanks for you quick answers. it is appreciated. i have read the docs until i feel i need to ask. I dont want to open issue just because I want to open issue. if there is another way to ask then it will be great to avoid opening new issues.  What I need to have full information for subscription to show it user.

[2020-07-07 13:18] driesvints commented on #32
@alzaabi98 there's the #cashier channel on Discord which might be a bit more appropriate. Issue trackers on the repos are mainly for reporting bugs but during the beta period I don't mind that.

[2020-07-08 10:38] Hussam3bd commented on #15
@techguydev

I'm not sure but I think the right approach is to keep one subscription the "default"
and create 3 plans "Basic, pro, unlimited"

then you can check if the user subscribed and which plan the user subscribed to

[code]

I'm doing it this way in my SaaS,

[2020-07-08 12:42] techguydev commented on #15
Thanks @Hussam3bd

@driesvints What do you think about this approach?

[2020-07-08 15:21] driesvints commented on #15
In general I agree yeah. I think in your use case you want different plans but one type of subscription.

I'm gonna leave the issue open for a bit because I can still see a use case of adding a method to see if a user has *any* active subscription at all.

[2020-07-11 12:24] Hussam3bd opened #37 "Cancellation subscription - Call to a member function date() on null"
- Cashier Paddle Version: dev-master
- Laravel Version: 7.19
- PHP Version: 7.4
- Database Driver & Version: mysql

### Description:

This error happened when I cancel a subscription

[code]

https://share.getcloudapp.com/eDu1Z0yK

This error happened only if the subsection status still active, and it will be active until Paddle's webhook sent the response to the server and being handled.

[2020-07-11 15:52] GrahamCampbell commented on #37
I guess the question is do we want to know an exception saying already cancelled, or do we want to do nothing. The same applies for the other functions.

[2020-07-13 12:45] driesvints commented on #37
Pushed a fix for this.

[2020-07-13 12:45] #37 closed

[2020-07-13 12:55] driesvints commented on #15
Closing this as it's now possible again to do `$user->subscriptions()->active()->count()` if you want.

[2020-07-13 12:55] #15 closed

[2020-07-14 09:41] yogesh668 opened #39 "Askmeoffers"
We help online shoppers to get coupons, deals and offers for all online shopping websites in India and All over the world at one place.
You can call us Coupon & Deals aggregators. We have become a one stop free shop to get all latest, working and genuine coupon codes, promo deals and discount offers
Get Offers here - https://askmeoffers.com/

[2020-07-14 09:47] #39 closed

[2020-07-14 09:47] driesvints commented on #39
Please don't spam the issue trackers with advertising.

[2020-07-25 01:44] queicherius opened #41 "`handleSubscriptionUpdated` references an undocumented field"
### Description:

https://github.com/laravel/cashier-paddle/blob/a029d2ba89cf6132b4a554bb7de8285258b2e4f0/src/Http/Controllers/WebhookController.php#L161-L164

According to the Paddle documentation, `quantity` does not exist on the [subscription updated](https://developer.paddle.com/webhook-reference/subscription-alerts/subscription-updated) event, instead there are `new_quantity` and `old_quantit

[2020-07-25 04:37] queicherius commented on #41
An additional question, if you are okay answering it:

In `handleSubscriptionCancelled`, if `cancellation_effective_date` is set, but not truthy, it is assumed to not to be cancelled. Can it actually happen that the webhook is called with this date set to a non-truthy value (or without the date at all)?

[2020-07-27 12:51] driesvints commented on #41
Good spot thanks! Sent in a PR here: https://github.com/laravel/cashier-paddle/pull/44

The `cancellation_effective_date` is indeed always set. This was a legacy piece from the Cashier Stripe package where everything happens in the `subscription.updated` webhook.

[2020-07-27 13:08] #41 closed

[2020-07-29 18:25] FreddyCrugger opened #47 "Page Not Found Sorry, the page you were looking for could not be found."
Hello,

I am trying to create a fake purchase and have a few questions please.

1)When the amount if below 0.75 Euro, I get the error (The price is too low), is this normal?

2)When I use the belowcode:

[code]

I see a green button on my front end, click on it but get this message:
![image1](https://user-images.githubusercontent.com/6231274/88838171-72104a00-d1d9-11ea-82b3-9fd466c1c7e3.jpg)

I th

[2020-07-29 18:29] GrahamCampbell commented on #47
Yes, you cannot charge someone such a small amount. If you need to charge customers lots of small amounts, you should batch up the charges, and charge them all together.

[2020-07-29 18:30] GrahamCampbell commented on #47
What do you mean, fake purchase? Paddle currently doesn't support test purchases. You must use a real card and make a live transaction, or use a 100% off discount code. If you have tried to enable the test mode config option, that would explain the 404s.

[2020-07-29 18:36] FreddyCrugger commented on #47
Sorry, my apology, by fake purchase I meant "purchased done from my side to test the system". Yes I understand that they have no system in place to create a fake purchase(I was surprised to be honest). The 100% off coupon is a great Idea I did not know about it.

So based on this code:

[code]

Do I have to create the "test onecharge" product in my paddle account first? As this is not explained in

[2020-07-29 19:09] GrahamCampbell commented on #47
Yes, I think so. Note that product IDs are integers, not strings.

[2020-07-29 20:00] FreddyCrugger commented on #47
Thanks, let me try that.

[2020-07-29 20:03] FreddyCrugger commented on #47
Just to let you know, in your doc you show a string.

[2020-07-29 20:05] FreddyCrugger commented on #47
I havet tried both as a string and integer, I get the same error for the simple charge. I have create the product and/or subscription in the paddle back end but it is not working.

[2020-07-29 20:53] GrahamCampbell commented on #47
Paddle will tell you the product ID. It's not something you are able to choose.

[2020-07-29 21:09] FreddyCrugger commented on #47
Yes I know, I create them in the paddle back end:
product id: 596697
Subscription plan: 596246

But none of them work with the simple product, but they work with this code:
[code]

Thank you.

[2020-07-29 21:12] Hussam3bd commented on #47
@FreddyCrugger
Just make sure to add `CASHIER_WEBHOOK` in your .env file, the webhook URL is required by Paddle when you create a charge.

[2020-07-29 21:18] Hussam3bd commented on #47
@FreddyCrugger Also for the price Paddle required a minimum amount to charge it was around $0.90, I'm not sure how much it was but you can try to create a product and play around it.

[2020-07-29 21:35] FreddyCrugger commented on #47
Thanks, this must be the problem then.

In the doc it says:

To ensure your application can handle Paddle webhooks, be sure to configure the webhook URL in the Paddle control panel. By default, Cashier's webhook controller listens to the /paddle/webhook URL path. The full list of all webhooks you should configure in the Paddle control panel are:

Subscription Created
Subscription Updated
Subscript

[2020-07-29 21:48] Hussam3bd commented on #47
@FreddyCrugger
Your welcome hope it solved your problem,

I think when you charge user things work differently, casher will send a request to Paddle to create pay link and Paddle in this case as the product id is not set will ask for the webhook URL and return URL.

But when you create a subscription you set Paddle's product id and the webhook URL is not required in this case
and Paddle will check

[2020-07-29 22:27] FreddyCrugger commented on #47
Thanks great explanation. I will have to try it tomorrow night, 1am here :-(

Thanks again and I will revert back if it does not work.

[2020-07-30 12:05] driesvints commented on #47
Please read the docs: https://laravel.com/docs/7.x/cashier-paddle#testing

<img width="776" alt="Screenshot 2020-07-30 at 13 56 35" src="https://user-images.githubusercontent.com/594614/88920089-88b3b100-d26c-11ea-8190-8ec3b47b6ca0.png">

It says simple one time charge.

Again, explained here: https://laravel.com/docs/7.x/cashier-paddle#single-charges. Both simple charges and product charges are e

[2020-07-30 12:05] #47 closed

[2020-07-30 12:26] FreddyCrugger commented on #47
Why did you add any comments? Hussam3bd sorted it all for me?

[2020-08-06 08:32] saber13812002 commented on #1
in my case installation didnt complete

my error is Memory limit

i can fix it by add memory_limit =-1 in php.ini
this solve my issue.

[2020-08-06 08:33] driesvints commented on #1
@saber13812002 seems to be a general Composer issue since a few weeks.

[2020-08-06 09:10] enkota commented on #1
Was getting a similar problem with another package running out of memory. Fixed it with the `-1` memory limit config.

[2020-08-06 18:01] b4nghh opened #48 "Unable to get related subscription from a receipt"
- Cashier Paddle Version: 1.0@beta
- Laravel Version: 7.23.2
- PHP Version: 7.4
- Database Driver & Version: MySQL

### Description:
This code `$receipt->subscription` returns null but the record is existed in the `subscriptions` table.

It seems the relationship definition between the two models is not correct.
I can help to create a PR for this.

[2020-08-07 13:32] #48 closed

[2020-08-07 14:06] egoist opened #51 "Expose payment method"
Subscription methods like `cardBrand` are only available when the payment method is credit card, it makes sense to check payment method before accessing it, currently I can get the payment method via `$subscription->paddleInfo()['payment_information']['payment_method']` but it's not documented, maybe it's better to expose it as `$subscription->paymentMethod()` too.

[2020-08-07 14:28] driesvints commented on #51
Done: https://github.com/laravel/cashier-paddle/commit/6f78dfe10a4fcb3033591385a1f20eb16412a8b7

[2020-08-07 14:28] #51 closed

[2020-08-08 19:57] FreddyCrugger opened #52 "allowQuantity set to False not working"
[code]

### Description:
Unable to add a custom parameter called 'allowQuantity' => 'false' with the chargeProduct() method.
When set to false, the quantity in the popup is still visible.

### Steps To Reproduce:

[code]

To test if custom parameters are working I tried:

[code]

And the above worked.
I followed the Paddle parameters from here:
[](https://developer.paddle.com/reference/paddle-js/p

[2020-08-09 14:08] esanalok opened #53 "Simple Charge The checkout id must be a valid checkout id."
- Cashier Paddle Version: 1.0@beta
- Laravel Version: 7.0
- PHP Version: 7.2.5

Hi, I am using cashier-paddle for one of my laravel 7 projects. I am trying to integrate a paddle simple charge. I followed the official documentation and generated the payLink. But after putting the Cashier's provided paddle-button Blade component it doesn't work. It shows Page Not Found and in the developer network t

[2020-08-09 15:21] driesvints commented on #53
Heya, thanks for reporting.

I'll need more info and/or code to debug this further. Please post relevant code like models, jobs, commands, notifications, events, listeners, controller methods, routes, etc. You may use https://paste.laravel.io to post larger snippets or just reply with shorter code snippets.

Thanks!

[2020-08-09 17:17] esanalok commented on #53
Thanks for your quick reply. I'm trying to apply a "one off" charge (Simple Charge) against a customer. So let me tell you the process that I have already completed.
1. Installed the official laravel cashier-paddle package using composer require laravel/cashier-paddle
2. Published necessary migrations and added the necessary API Keys on my env file
3. Added the @paddleJS in may master layout blade

[2020-08-10 13:23] driesvints commented on #52
The paylink API has no such option: https://developer.paddle.com/api-reference/product-api/pay-links/createpaylink

[2020-08-10 13:23] #52 closed

[2020-08-10 13:47] driesvints commented on #53
Hey @esanalok. This perfectly worked for me. So I don't know what's happening here. Can you perhaps try with a fresh installation of cashier-paddle and laravel? Going to close this but feel free to reply.

[2020-08-10 13:47] #53 closed

[2020-08-10 14:59] Hussam3bd commented on #53
@esanalok
When you create single charge
You have to set the webhook_url in your .env file
Just make sure you do that and try.

[2020-08-10 15:48] esanalok commented on #53
Thanks, I will try a fresh installation. Thanks for your help and time.

[2020-08-10 16:43] esanalok commented on #53
Thanks for your replay. I've already added the webhook by following the documentation and the webhook is working and the payment_succeeded alert is firing when a payment is made into my Paddle account.
But in the documentation, I can't see anything related to webhook_url for the env file. Is it really required?
Let me know if I need to out the webhook_url in my env file.

[2020-08-10 16:55] driesvints commented on #53
That should indeed normally not be necessary. It falls back on the `cashier.webhook`. I think I might know what's going on though. Can you place `Cashier::ignoreRoutes();` in the boot method of your AppServiceProvider and remove the `webhook_url` from your .env file and try again? I'm guessing we need to add that to the docs but want to verify first.

[2020-08-10 17:16] esanalok commented on #53
Thanks, I have uninstalled the package and then install again. But sorry to inform you that I'm having the same issue. The charge for a specific product with product id from paddle working fine but when I try to charge the customer one-off (Simple charge) I am getting the same issue again. Also, I would like to inform you that I think there is another issue with the inline checkout. While I was tr

[2020-08-10 17:54] esanalok commented on #53
Thanks for your suggestion. I have already followed your instructions but I am sorry to inform you that I'm still having the same issue.
**Note:**  My project was a laravel 5.7 project but recently I have updated my project to laravel 7.24 by following the laravel update documentation. Everything is working fine after the update except the paddle checkout.

[2020-08-11 09:42] driesvints commented on #53
@esanalok at this point I'd like to suggest you upload a repo which reproduces the problem. Please commit your changes separately from a fresh laravel installation.

[2020-08-15 15:12] dlogvin opened #56 "Unknown column 'subscriptions.billable_id' after upgrading the laravel framework and paddle."
- Cashier Paddle Version: ^1.0@beta (v1.0.0-beta2)
- Laravel Version: 7.25.0
- PHP Version: ^7.2.5
- Database Driver & Version: mysql

### Description:

After a `composer update`, and running the migrations, the column went missing.

In my code I'm trying to do the following:

`@if(Auth::user()->subscribedToPlan($monthly = 123123, 'Service Pro'))`

[2020-08-15 15:37] GrahamCampbell commented on #56
After upgrading from what?

[2020-08-15 15:38] dlogvin commented on #56
I mean, I just did a composer update. Laravel was upgraded, as well as paddle.

[2020-08-15 15:39] GrahamCampbell commented on #56
Yes, from what versions? NB There is no upgrading path from earlier paddle versions to newer betas. You will need to either throw away your data, or migrate it manually yourself. Once a stable release is available, then upgrade paths will be available.

[2020-08-15 15:39] GrahamCampbell commented on #56
I cannot stress enough that this package is not ready for production use yet, as per the documentation.

[2020-08-15 15:40] dlogvin commented on #56
How so? As far as I know Paddle was upgraded to beta-2. The first version worked "fine". Not sure why the column suddently disappeared. You mean here that I should manually add that column?

[2020-08-15 15:41] GrahamCampbell commented on #56
No, I mean the database structure has fundamentally changed since beta-1. https://github.com/laravel/cashier-paddle/commit/349f6615818135e5f76c51ee003f444f96031c0f

[2020-08-15 15:53] dlogvin commented on #56
Understood. But what should I do now to solve this error message I'm getting?

[2020-08-15 16:14] GrahamCampbell commented on #56
Drop your database, and re-migrate with the latest migrations from the package. If you have published stuff from the package, delete it and re-publish it.

[2020-08-15 16:15] GrahamCampbell commented on #56
Usage with your user model may also have changed. Check the current version of the docs.

[2020-08-15 16:17] dlogvin commented on #56
Sure, will try it out. Will update on this :)

[2020-08-15 18:25] dlogvin commented on #56
tried that, same thing happening.

[2020-08-15 18:29] dlogvin commented on #56
Alright, I noticed something. 92cc974 made a change, and I had 2 migrations, one labelled customers and another one customer.

The conflict was caused because it was renamed, resulting for my app to generate 2 different tables. Not sure how to use the other one after deleting the old one.

[2020-08-15 18:36] dlogvin commented on #56
Solved now after copying and pasting the migration from the repo (https://github.com/laravel/cashier-paddle/blob/92cc974477e2ec52af480492bd4695b7ff3855c4/database/migrations/2019_05_03_000002_create_subscriptions_table.php).

[2020-08-15 18:36] #56 closed

[2020-08-16 10:19] dlogvin opened #57 "View is not found in production (I know, this should not be used in production)."
- Cashier Paddle Version: ^1.0@beta (v1.0.0-beta2)
- Laravel Version: 7.25.0
- PHP Version: ^7.2.5
- Database Driver & Version: mysql

### Description:

I know this shouldn't be used in production, still, I really have no other option than giving it a try. In my country, paddle seems to be the best and only solution.

### Steps To Reproduce:

well, my view (blade, by the way) is indeed loaded in t

[2020-08-16 10:23] driesvints commented on #57
Heya. What view? Have you tried running `a view:clear`? Have you tried this on a fresh app?

[2020-08-16 10:25] dlogvin commented on #57
Hey! Yes, I tried `view:clear`. It is my `billing` view, where I included the widget.

This is the code block that seems to be causing the trouble:

[code]

[2020-08-16 10:40] driesvints commented on #57
What's the exact error you're getting?

[2020-08-16 11:42] dlogvin commented on #57
`[2020-08-16 11:42:00] production.ERROR: View [dashboard.settings.billing] not found. {"userId":1,"exception":"[object] (InvalidArgumentException(code: 0): View [dashboard.settings.billing] not found. at /home/forge/hwrk.app/vendor/laravel/framework/src/Illuminate/View/FileViewFinder.php:137)
[stacktrace]`

[2020-08-16 12:33] driesvints commented on #57
That doesn't seems to have anything to do with Cashier Paddle. Your view simply doesn't exists on your production server.

[2020-08-16 12:33] #57 closed

[2020-08-16 16:35] esanalok commented on #53
Hi, @driesvints and @Hussam3bd  thanks for your help. I've fixed the issue. Everything was fine. Just need to specify the webhook URL in the charge method. I think it should be mentioned in the documentation. Thanks for your help.

[code]

[2020-08-16 17:14] driesvints commented on #53
@esanalok you shouldn't need to do that. That's already been done for you behind the scenes.

[2020-08-16 18:11] esanalok commented on #53
Thanks. But for some reason, it was not working for me. But it works after adding the webhook URL.

[2020-08-16 19:32] dlogvin commented on #57
You sure it doesn't?

[code]

subscriptionHistory does load, theme does load too.

[2020-08-16 19:45] FreddyCrugger opened #58 "Problem with WebHook Custom handlers"
Hello,

[code]

Based on the documentation:
https://laravel.com/docs/7.x/cashier-paddle#defining-webhook-event-handlers

I have created a controller at \App\Http\Controllers\WebhookController and added this code in it:

[code]

I was hoping to be able to use the handlePaymentSucceeded to see if I could recreate a receipt(like the original method from CashierController as I need later on to add a b

[2020-08-16 19:50] driesvints commented on #57
Yes

[2020-08-16 19:52] dlogvin commented on #57
I just showed you that it exists... it loads in localhost too. The folder and file structure is absolutely the same

[2020-08-16 20:00] dlogvin commented on #57
oof, it was a typo. My bad, my bad. it had to be "S", not "s". lol, so sorry to trouble you.

[2020-08-16 21:48] GrahamCampbell commented on #58
I think the correct thing to add is simply:

[code]

[2020-08-16 22:33] FreddyCrugger commented on #58
Thank you GrahamCampbell, this error seems to be gone while adding it this way(the doc will need to be updated for this) but strangely enough, I did this:

[code]

And when overriding the method, I am not getting any Payload, but in telescope, I see the POST request as:

Method | POST
-- | --
Controller Action | \App\Http\Controllers\WebhookController
Middleware | web
Path | /paddle/webhook
Status

[2020-08-19 20:57] FreddyCrugger commented on #58
So today I tried to pass a constructor in this class to see if I could log anything and strangely when adding the route as:
[code]

The above-reported error goes away but I am unable to access a class in the WebhookController, in this case
[code]

[2020-08-20 13:30] yoeriboven opened #60 "Improving contributing guide"
The [contributing guide](https://github.com/laravel/cashier-paddle/blob/master/.github/CONTRIBUTING.md) is not clear in what is needed to setup the project.

It seems like you need to add your Paddle API keys, but some more information would be appreciated.

Currently can't get tests to green on my machine because I'm missing variables and the correct setup.

[2020-08-24 10:02] driesvints commented on #58
This was indeed the correct piece of code. We're updated the docs. Thanks for reporting.

Your method needs to be protected, not public.

[2020-08-24 10:02] #58 closed

[2020-08-24 11:54] FreddyCrugger commented on #58
Thank you so much! I will check this tonight and will keep testing your script on a daily basis. Looks really cool, very good work!

[2020-08-25 20:59] FreddyCrugger commented on #58
Hello,

Just to let you know:

[code]

Route:
`Route::post('paddle/webhook', '\App\Http\Controllers\WebhookController');`

Still no logger payload showing.
Has anyone managed to get the custom methods to work please? Anyone?

Thank you

[2020-08-25 21:46] FreddyCrugger commented on #58
Ok Forget about everything above,

I have just updated the package to the version 1.0.0 and all the errors are now gone! You can close the ticket and thanks again!d

[2020-08-28 12:16] driesvints commented on #60
Sent in a PR here: https://github.com/laravel/cashier-paddle/pull/65

[2020-08-28 14:02] #60 closed

[2020-09-03 19:14] goranculibrk opened #70 "How to check user generic trial"
- Cashier Paddle Version: 1.1.0
- Laravel Version: 7.27.0
- PHP Version: 7.4.3

### Description:

In my setup, I'm using Paddle with trial period without asking for payment method upfront.
I'm trying to create middleware that would check if user is on trial period or having active subscription.
However, it seems that `$user->subscription('default')` or `$user->subscribed('default')` are not consid

[2020-09-04 19:25] enkota opened #71 "Paddle Subscription Modifiers"
Hey,

Wondering if Paddles subscription modifiers exist within the package? Took a look at the docs, but only thing it mentions is [Subscription single charges](https://laravel.com/docs/7.x/cashier-paddle#subscription-single-charges) - is this referencing modifiers reference [here](https://developer.paddle.com/api-reference/subscription-api/modifiers/createmodifier)?

I am aiming to make use of th

[2020-09-06 16:49] enkota commented on #71
By no means great with PR's but I mocked up how this could be done by extending the subscription model.

From the API docs it seems we can't update existing modifiers, so I am wondering if the `modifier_id` returned should be stored on our DB so it can be deleted if the modifier was to change in the future. Only issue I see with that is you can have multiple modifiers per subscription.

[code]

[2020-09-08 08:29] driesvints commented on #71
The reason we didn't include it in the package is because Paddle already has a full UI in their dashboard to manage these modifiers.

Can you please give some more explanation about your use case, why you'd want to use the API for these and how it would benefit you?

[2020-09-08 16:26] enkota commented on #71
Hey @driesvints - The original idea was to make use of modifiers with volume based billing. Every level of usage would result in a price modifier being added so we didn't need to create loads of individual plans. I took the idea from [their guide](https://developer.paddle.com/guides/how-tos/subscriptions/metered-billing).

After a few discussions with Paddle, we decided modifiers would be too mess

[2020-09-08 16:27] driesvints commented on #71
No worries. Closing then as there's no direct use case.

[2020-09-09 20:56] yoeriboven commented on #70
If I understand your issue correctly, I had the same last week.

`$user->subscribed()` returns true if you have an active subscription or are on a trial attached to a subscription. It returns false if the trial is generic.

Personally, I think this should also look if a generic trial is active.

[2020-09-10 14:37] driesvints commented on #70
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-09-10 15:12] yoeriboven commented on #70
Hi Dries, I disagree although OP might have worded it like that.

In my app I'm doing quite often something like this:

[code]
Just to see if they are allowed to do something since both subscribers as well as people on a trial are considered subscribed.

Don't you think `$user->subscribed()` should also return true if the user is on a generic trial?

If not, do you advice doing the if-statement as

[2020-09-10 15:23] driesvints commented on #70
We don't consider people being on trial to be subscribed.

[2020-09-10 21:03] goranculibrk commented on #70
@driesvints your answer that you don't consider users on trial to be subscribed. My logic is the opposite of that, while they are on trial, users should have the access to all features, without the need to ask for the card upfront.
@yoeriboven I'll give it a try with your way, but I think I'll end up with adding `trial` field to the `users` table with default to `true` so new users will be always

[2020-09-11 12:34] driesvints commented on #70
Being on trial isn't the same as being subscribed. You're not paying at that time. This is just a difference of opinion. You can make combinations of the existing methods in userland to accommodate for your use case.

[2020-09-25 11:12] yoeriboven opened #73 "Eager loading not possible"
- Cashier Paddle Version: 1.2.0
- Laravel Version: 7.26.1
- PHP Version: 7.4.10
- Database Driver & Version: MySQL

### Description:
I'm accessing the user's subscription multiple times on my settings page. This results in a separate query for every access.

According to Laravel Debugbar I'm making the same subscriptions request nine times.

This is the culprit:

[code]

How to eager load this que

[2020-09-25 11:16] driesvints commented on #73
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-09-25 11:16] #73 closed

[2020-09-25 13:43] yoeriboven commented on #73
@driesvints Hi Dries.

I'm starting to think this is actually a package issue.

The amount of duplicate queries drops from 8 to 0 when making the following change. ([line](https://github.com/laravel/cashier-paddle/blob/1.x/src/Concerns/ManagesSubscriptions.php#L40))

[code]
[code]

This is also how it is done in the Stripe version of Cashier. ([line](https://github.com/laravel/cashier-stripe/blob/

[2020-09-25 14:06] driesvints commented on #73
Hey Youri. Your change would load all subscriptions into memory and do the where clause on the collection rather than the query builder. This would raise its own sets of problems (see Taylor's response on your PR).

I think the code in Cashier Stripe is for legacy purposes but not entirely sure. I'm attempting a PR to simplify it in Cashier Stripe: https://github.com/laravel/cashier-stripe/pull/10

[2020-09-26 15:34] ack202 opened #75 "Webhook error after creating subscription"
- Cashier Paddle Version: 1.2
- Laravel Version: 8.0
- PHP Version: 7.4
- Database Driver & Version: mySQL

### Description:
After subscribing to a subscription the received answer triggers the following error:

Trying to access array offset on value of type int {"exception":"[object] (ErrorException(code: 0): Trying to access array offset on value of type int at /home/forge/project/vendor/laravel

[2020-09-26 15:47] ack202 commented on #75
This error only occurs if you create the paddle checkout link manually. I assume the passthrough parameters are different when using the cashier paylink.

[2020-09-26 18:54] ilayalmalem opened #76 "Column 'billable_id' cannot be null when testing from the Paddle developer tools"
- Cashier Paddle Version: 1.0
- Laravel Version: 7.24
- PHP Version: 7.3.5
- Database Driver & Version: MYSql latest

When sending a test subscription created webhook from Paddle DevTools, here: https://vendors.paddle.com/webhook-alert-test
I'm getting the following error returned back:
```SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'billable_id' cannot be null (SQL: insert into `

[2020-09-27 11:19] driesvints commented on #75
Yeah indeed. You should only use pay links with cashier paddle. Otherwise the required passthrough values are never sent. I've re-opened this so I can add this as a note to the docs and maybe check into throwing a more descriptive exception.

[2020-09-27 11:20] GrahamCampbell commented on #75
Did you want the subscription to appear in your app or be skipped? If create it manually but don't pass through the cashier specific stuff, then the best we can do is ignore the subscription.

[2020-09-27 11:20] driesvints commented on #76
You can't do that as the required passthrough values aren't provided. Someone opened a similar issue before you. I'll try to document this soon.

[2020-09-27 11:20] #76 closed

[2020-09-27 14:28] techguydev commented on #15
I am not sure I am understanding the difference between Subscription and Plan.

In my casa each plan has different access to my app, so the subscription if kind of different too.

how are you guys handling different access levels with different plans?

[2020-09-27 18:46] FreddyCrugger opened #77 "Method Illuminate\Database\Eloquent\Collection::subscription does not exist."
Hello,

[code]

When following the doc here:
https://laravel.com/docs/7.x/cashier-paddle#past-and-upcoming-payments

By doing this:
[code]

I am getting:

[code]

Any idea why please?

Thank you.

[2020-09-27 19:03] GrahamCampbell commented on #77
This doesn't return a user, it returns a collection of users. You need `$user =User::firstWhere('id',Auth::id());`

[2020-09-27 19:23] FreddyCrugger commented on #77
Thanks!
I think some updates must have been released for the migrations because I have a missing column in my subscription column as I am getting this for:

[code]

[code]

And when I pass a subscription order, I keep having this:
[code]

Both showing the billable_id being missing.

![image](https://user-images.githubusercontent.com/6231274/94373727-8a341500-0107-11eb-9d12-e08ee7da569e.jpg)

[2020-09-28 08:03] driesvints commented on #77
Think you're still on an old beta release.

[2020-09-28 08:03] #77 closed

[2020-09-28 08:08] FreddyCrugger commented on #77
oh ok, is there a way to have access to the new migrations since the Beta or do I need to delete everything instead and restart a fresh installation? Thank you.

[2020-09-28 08:09] driesvints commented on #77
Fresh is probably the best idea since a lot has changed since the early beta's.

[2020-09-28 08:09] FreddyCrugger commented on #77
Thank you so much for the fast reply. Will do :-)

[2020-09-28 21:35] FreddyCrugger opened #79 "$user->subscribed('default') returns true no matter what."
[code]

### Description:
I have cancelled 2 subscriptions from the only user I have on the system as you can see here from the Paddle callback:
![subscription](https://user-images.githubusercontent.com/6231274/94488387-d011db80-01e2-11eb-933f-56a540f49e7a.jpg)

Based on the documentation, I was expecting the result to return 'false':
https://laravel.com/docs/7.x/cashier-paddle#checking-subscriptio

[2020-09-29 08:15] driesvints commented on #79
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-09-29 08:15] #79 closed

[2020-09-30 09:35] FreddyCrugger opened #80 "1 Month subscription save the ends_at date - 3 months subscription ends_at missing"
![save](https://user-images.githubusercontent.com/6231274/94669274-4d3b6e80-0311-11eb-84ff-f4e6dc95a5ce.jpg)
[code]

I have created in Paddle 2 subscriptions.
1 set with a 1-month billing interval.
1 set with a 3 months billing interval.

When the transactions happen, the webhook call back from Paddle is sent correctly to the Paddle Laravel callback URL on my website. The "next_bill_date" in the j

[2020-09-30 13:26] lvismer commented on #79
@driesvints For me I also have a *deleted* subscription in my subscriptions table but a call to ```$user->subscriptions()->active()``` returns that subscription. I would have expected ```active()``` to only return a valid subscription. Does the implementation consider a *deleted* subscription still active?

[2020-09-30 22:50] FreddyCrugger commented on #79
The problem is that some subscriptions in certain systems carries on after the cancellation while others need to be partially refunded(like in mine) or you get extra API call cost(or proxy usage and so on). In my case, the subscription when deleted,  if cannot be active. I had to modify the code for my case. This is why I was confused when I saw that a deleted subscription was still considered act

[2020-09-30 22:55] techguydev commented on #79
I am having the same problem, what is the best wat to go around with this ?

[2020-09-30 23:13] FreddyCrugger commented on #79
This is how it works at the moment:
[code]

If the subscription has been cancelled, it will still return true until the date reaches the last day of the subscription(ends_at column). In your case, it is fine.

[2020-10-01 12:39] driesvints commented on #79
Hey everyone. The reason why subscribed is returning true is that the subscription might be deleted but it's on its cancellation grace period (see the date in the "ends_at" column).

If you want to immediately cancel a subscription you need to use `->cancelNow`. See the docs here: https://laravel.com/docs/8.x/cashier-paddle#cancelling-subscriptions

[2020-10-01 12:40] driesvints commented on #79
This is also the same reason why the `active` scope still returns the subscription. It's still an active subscription until its grace period has passed. This works the same in Cashier Stripe.

[2020-10-01 12:41] driesvints commented on #80
Please resubmit this with a filled out issue template.

[2020-10-01 12:41] #80 closed

[2020-10-01 13:00] FreddyCrugger commented on #80
I am not understanding

[2020-10-01 13:10] driesvints commented on #80
https://github.com/laravel/cashier-paddle/issues/new?template=1_Bug_report.md

![Screenshot 2020-10-01 at 15 10 24](https://user-images.githubusercontent.com/594614/94813423-40457a80-03f8-11eb-94f4-3a22ef953688.png)

[2020-10-01 13:23] FreddyCrugger commented on #80
"php": "^7.3",
        "ext-dom": "*",
        "laravel/cashier-paddle": "^1.2",
        "laravel/framework": "^8.6.0",
        Database client version: libmysql - 5.6.43

###description
When a subscription is created in Paddle with a billing interval of 1 month, the ends_at column is filled with the right date.
When a subscription is created in Paddle with a billing interval of 3 months, the ends

[2020-10-01 13:26] driesvints commented on #80
Please open a new issue with the issue template and don't copy paste your composer.json file. Use the versions from your composer.lock file

[2020-10-01 16:21] FreddyCrugger opened #82 "1 Month subscription save the ends_at date - 3 months subscription ends_at missing"
- Cashier Paddle Version: 1.2.0
- Laravel Version: 8.6.0
- PHP Version: 7.3
- Database Driver & Version: libmysql - 5.6.43

### Description:
When a subscription is created in Paddle with a billing interval of 1 month, the ends_at column is filled with the right date.
When a subscription is created in Paddle with a billing interval of 3 months, the ends_at column shows as NULL.

Paddle example of a

[2020-10-05 13:13] driesvints commented on #82
The ends_at is only filled in when a subscription is cancelled or when it still needs to fulfil some trial days. Please post the exact setup of your subscriptions and the source code to reproduce this.

[2020-10-09 12:29] driesvints commented on #82
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue and we'll re-open this issue.

[2020-10-09 12:29] #82 closed

[2020-10-13 20:58] RobertBoes opened #85 "Unable to get trialEndsAt date without payment up front after trial expired"
- Cashier Paddle Version: 1.2.2
- Laravel Version: 8.10.0
- PHP Version: 7.4.7
- Database Driver & Version: MySQL 5.7.29

### Description:
After a trial has expired (without payment up front) the `trialEndsAt` method tries to get the trial_ends_at date from the subscription instead of the customer.

### Steps To Reproduce:
Create a user, then use the following to simulate a trial without payment u

[2020-10-14 17:49] yoeriboven commented on #85
You'd probably want it to always return the value of `trial_ends_at` on the `customers` table if it is set.

There's one edge case however. What if you also (at a later stage) set a trial on the subscription model. In that case it should return the newest value. This seems _very_ uncommon though.

I'll implement the first option later. If the maintainers want the second option, let me know. :)

[2020-10-15 11:58] pawan1793 opened #86 "SubscriptionBuilder missing custom pricing payloads i.e Overriding Checkout Prices"
Paddle supports **Overriding Checkout Prices**  this helps to customise recurring charges and avoids relying on paddle product data for prices,passing in prices to override the initial checkout price or recurring_prices if you wish to override a subscription’s subsequent recurring payment amount

Read more here
[https://developer.paddle.com/guides/how-tos/pricing/override-checkout-prices#overridin

[2020-10-15 12:56] RobertBoes commented on #85
Yes, the user is no longer `onGenericTrial`, because the trial has ended, that makes sense.

I think `onGenericTrial` should not be used to get the trial_ends_at value. Maybe the method should become something like this:
[code]

This way the trial_ends_at of the customer is returned when the user has no subscription. But, this probably has other implications, because the customer might not exist.

[2020-10-15 13:14] yoeriboven commented on #86
Haven't tested this but can't you pass the prices to the `create` method on `SubscriptionBuilder`?

[code]

There are [some concerns](https://github.com/laravel/cashier-paddle/blob/1.x/src/SubscriptionBuilder.php#L172) if you are also using a trial so you need to take that in account.

[2020-10-15 14:12] pawan1793 commented on #86
Sorry my bad ... just tested it's working after passing parameter in create method

[2020-10-15 14:12] #86 closed

[2020-10-16 14:19] yoeriboven commented on #85
I don't think that would be a problem.

If you don't have either a customer or a subscription you shouldn't call this method anyway.

I proposed a fix with #87. Thanks for creating the issue.

[2020-10-19 09:19] FreddyCrugger opened #88 "New method to end a subscription for testing purposes"
Hello,

I was trying to test this:
[code]

I was unable to create a fake "end" to the subscription.
I tried to change the paid_at date, updated_at, created_at in both the subscriptions and receipts tables but no luck.

Would it be possible to have a function where the tester can fake an end to a subscription please(not a cancellation but actual end)?

Thank you

[2020-10-19 09:39] driesvints commented on #88
Fill out the `ends_at` column on the subscription with a date in the past.

[2020-10-19 09:39] #88 closed

[2020-10-19 09:49] FreddyCrugger commented on #88
Oh i see, it would have been great to have this tiny part in the doc please.

Thanks.

[2020-10-19 13:34] #85 closed

[2020-10-19 14:18] driesvints commented on #88
Feel free to send in a PR if you feel anything can be improved 👍

[2020-10-20 12:59] pawan1793 commented on #71
@driesvints  I might have use case ...
Our subscription prices keeps on changing so can't keep adding new subscriptions in paddle instead of that if **modifier** is included in package we can **simply change recurring prices**

reference[ /2.0/subscription/modifiers/create](https://developer.paddle.com/api-reference/subscription-api/modifiers/createmodifier)

[2020-10-20 13:01] driesvints commented on #71
@pawan1793 what prevents you from using the Paddle dashboard?

[2020-10-20 13:40] pawan1793 commented on #71
@driesvints in paddle dashboard there is just one plan of $1 ... I'll be modifying plan pricing on my application not on paddle, This way I'll not have to maintain many subscription products.

eg There are 3 plans
Basic - 5$
Gold - 10$
Pro - 15$

for all this plan i'll use subscription product i.e of $1 on paddle  and set prices while creating subscription by **Overriding Checkout Prices**

now if

[2020-10-20 13:43] driesvints commented on #71
If you can practically write down what you expect to be present in terms of a public API we could look into it maybe. Is it similar to what the OP wrote above?

[2020-10-20 13:45] pawan1793 commented on #71
yes

[2020-10-20 13:49] driesvints commented on #71
I'll take a look at this eventually. But feel free to send in a PR in the meantime.

[2020-10-20 13:51] #75 closed

[2020-10-21 15:08] yoeriboven commented on #71
@pawan1793 Isn't your issue the same as [this](https://github.com/laravel/cashier-paddle/issues/86)?

I agree that modifiers would be a great addition to this package but I don't think you need them.

[2020-10-21 17:39] enkota commented on #71
I'd like to point out when I looked at this, Paddle didn't allow you to update modifiers, so you'd need to store the one applied to that subscription and remove if you were to change that amount.

[2020-10-22 11:32] driesvints commented on #71
Yeah we'll need to do that as well.

[2020-11-05 11:45] victor-ponamariov opened #92 "Cancel subscription immediately works incorrectly?"
- Cashier Paddle Version: 1.2.3
- Laravel Version: 7.16.1
- PHP Version: 7.2
- Database Driver & Version: MySQL 8

### Description:

Not sure if it's a bug or not.

When I use `cancelNow()` method it should cancel the subscription immediately. What happens:

[code]

However, then Paddle makes a webhook, notifying that the subscription has been cancelled. It also sends `cancellation_effective_date`

[2020-11-05 12:33] driesvints commented on #92
Heya, thanks for this detailed report. This indeed looks like a bug to me. I'll try to look into fixing this soon.

[2020-11-15 13:13] techguydev opened #93 "Getting SubscriptionPaymentFailed not found on log"
- Cashier Paddle Version: v1.2.0
- Laravel Version:7.16.1
- PHP Version: 7.2
- Database Driver & Version: mysql

### Description:

I keep getting " Class 'Laravel\Paddle\Http\Controllers\SubscriptionPaymentFailed' not found " error on my logs, it looks like paddle is making a post request to my system and not finding that to do next.

[2020-11-15 16:19] GrahamCampbell commented on #93
Please upgrade to the latest version of the package. This issue has already been fixed.

[2020-11-16 08:46] #93 closed

[2020-11-16 08:47] driesvints commented on #93
See above

[2020-11-17 14:58] driesvints opened #94 "Write more tests"
Using the `Http::fake` approach like in https://github.com/laravel/cashier-paddle/pull/90

[2020-12-06 19:52] msnegurski commented on #71
Just to add a usecase: we have a non-linear per member pricing (so subscription quantity is not an option) and customers constantly add or remove members, so managing it all in the Dashboard would be a full-time job.

[2020-12-09 19:21] Benoit1980 opened #96 ""development.ERROR: You don't have permission to access this resource""
- Cashier Paddle Version: 1.3.0
- Laravel Version: 8.13.0
- PHP Version: 7.4.9
- Database Driver & Version:
MariaDB 10.3

### Description:
Upgraded from version 1.2.0 to 1.3.0 and suddenly started to get the error:
"development.ERROR: You don't have permission to access this resource"

### Steps To Reproduce:

        $user = User::find(1);
        $subscription = $user->subscription('default');

[2020-12-09 19:46] driesvints commented on #96
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-12-09 19:46] #96 closed

[2020-12-10 19:42] Benoit1980 commented on #96
I do believe there is a bug as I did not change anything in the app and was using it for months.
I created a staging app on a remote server, same issue.
All my old orders have the same issues too(unable to get the next payment date), making me think that this is a bug, all I did was update your dependencies from 1.20 to 1.30.

[2020-12-10 20:47] Benoit1980 commented on #96
Ok worked it out finally, I checked everything from top to bottom.
You cannot use their simulator to generate a fake sale and then check its status as they do not register them on their server.
The only way around I found was to quickly switch the week hook URL in the Paddle panel and do a 100% discount on a purchase.

Nightmare to test......so in fact a staging server is useless with Paddle as it

[2020-12-11 05:56] nomanshaikh17 commented on #1
thats very helpfull and solve my problem

[2020-12-15 14:42] #71 closed

[2020-12-15 14:44] driesvints commented on #71
This will be available in today's release. I'll try to add docs soon.

[2020-12-28 17:39] driesvints commented on #92
I've finally managed to find time to send in a fix for this: https://github.com/laravel/cashier-paddle/pull/99

[2020-12-28 23:01] #92 closed

[2020-12-29 11:23] SamuelNitsche opened #100 "Cancel paused subscriptions"
- Cashier Paddle Version: 1.4.0
- Laravel Version: 8.20.1
- PHP Version: 7.4 & 8.0
- Database Driver & Version: Mysql 5.7

### Description:
First of all I am not really sure if this is a bug report or feature request.
Paddle itself supports cancelling pause subscriptions. Cashier unfortunately tries to access the next payment date which throws an exception since `nextPayment()` returns null.

###

[2021-01-04 11:27] driesvints commented on #100
Thanks for reporting this. I've sent in a fix that should normally be in tomorrow's release: https://github.com/laravel/cashier-paddle/pull/101

[2021-01-04 14:47] #100 closed

[2021-01-05 09:45] driesvints commented on #100
Small follow up here: https://github.com/laravel/cashier-paddle/pull/102

[2021-01-25 21:07] SebastianSchoeps commented on #53
I had to do exactly the same (thanks @esanalok!). Brand new project with only cashier-paddle, just for testing purposes. Only the following changes to a standard Laravel installation:

[code]

Without `webhook_url` I had the same issue.

Dug a little deeper - my TLD on my dev system is not a "valid" TLD. The webhook URL is generated in `Cashier@webhookUrl` and was `http://paddle-test.invalid-tld/p

[2021-01-26 09:17] driesvints commented on #53
@SebastianSchoeps we can't document every single exception that Paddle doesn't handle. That seems more something for the Paddle docs themselves. Best that you send a ticket to their support.

[2021-01-26 09:17] driesvints commented on #53
A general note of "make sure you have a valid url" can be added though. Feel free to PR that.

[2021-01-31 17:00] marcomessa commented on #53
I had the same issue, but mine was cause by the test domain, which was not (yet) approved by Paddle. I had a PR in the docs, hoping to help. Cheers

[2021-02-16 17:24] SebastianSchoeps opened #104 "Paypal: expiry_date and last_four_digits not available"
- Cashier Paddle Version: 1.4.1
- Laravel Version: 8.28.0
- PHP Version: 8.0.0
- Database Driver & Version: MySQL 8

### Description:
Using the new Spark. After connecting to Paypal (German account) I receive a 500. It originates in `Subscription.php`:
`Undefined array key "expiry_date"` (and afterwards the same for `last_four_digits`).

`paddleInfo` returns:
[code]

There is no array key `['payme

[2021-02-16 17:26] driesvints commented on #104
This is already fixed in Spark. I'll PR a change to cashier in a sec. You can already first check if you're using paypal or a card with calling `->paymentMethod()`

[2021-02-16 17:26] #104 closed

[2021-02-23 16:12] driesvints opened #109 "Implement factories"
Implement Laravel v8 factories for the Customer, Subscription and Receipt models. Needs to go to master.

Load them in the same way as Passport: https://github.com/laravel/passport/blob/10.x/composer.json#L43

This will be a bit tricky with the polymorphic relationships on the billable model.

[2021-02-24 16:35] monoteos opened #110 "Subsription model scopes bug"
- Cashier Paddle Version: v1.4.3
- Laravel Version: 8
- PHP Version: 7.4
- Database Driver & Version: MySQL 8

### Description:
[code]

You missed **return** statement in all scopes in Subscription model (maybe other models, didn't check)

Example, Laravel scope

[code]

Also you override scope "scopeActive" by "active" function in the same model, is it expected?

Thanks,
Konstantin
Massive Kineti

[2021-02-25 15:34] yoeriboven commented on #110
I don't think you are required to return anything in local scopes.

Are these functions not working for you or do you *think* it doesn't work?

Also, `scopeActive` and `active` are used in different ways so there is no override situation.

[2021-02-25 15:45] driesvints commented on #110
Hi there. It's indeed not necessary to return the query builder. Eloquent is smart enough to handle this.

Yeah it is. Please see how to use Cashier scopes here: https://laravel.com/docs/8.x/cashier-paddle#subscription-scopes

[2021-02-25 15:45] #110 closed

[2021-03-01 13:39] Benoit1980 opened #111 "To be able to get all the subscriptions + users associated with them"
Hello,

I have noticed that there is no possibility to run this query:
[code]

Will you ever add a relation between the users and the subscriptions please in your subscription model?

Thank you.

[2021-03-01 14:38] driesvints commented on #111
No because that'd be a circular dependency.

Maybe https://laravel.com/docs/8.x/eloquent-relationships#nested-eager-loading-morphto-relationships is what you're looking for?

[2021-03-01 14:38] #111 closed

[2021-03-01 14:42] Benoit1980 commented on #111
Thanks, I will try that :-)

[2021-03-27 16:19] Benoit1980 opened #114 "Will you support the Paddle Sandbox?"
Hello,

I would like to know if you will ever support the new Paddle Sandbox please:
https://developer.paddle.com/getting-started/sandbox

Thank you,

[2021-03-27 16:21] Benoit1980 commented on #114
ok I noticed it is added sorry!

[2021-03-27 16:21] #114 closed

[2021-03-27 18:23] Benoit1980 opened #115 "Sandbox switch"
Hi,

Based on your DOC
https://laravel.com/docs/8.x/cashier-paddle#paddle-sandbox

I cannot see a way to switch blade from:
@paddleJS

To something like:
@paddleJS-sandbox

Will you ever add some kind of switch or are we forced for now to replace manually the header URL by adding a new ENV variable ie: Paddle-sandbox: true / false

Thank you.

[2021-03-27 18:27] Benoit1980 commented on #115
ok forget it, just noticed the PADDLE_SANDBOX ENV variable.

[2021-03-27 18:27] #115 closed

[2021-04-08 12:51] Benoit1980 opened #116 "Multiple WebHooks possibility"
Hi,

To my surprise, I wanted to use your script on a second domain and realised that Paddle does not have a way to set up multiple webhook ULRS in their admin panel. So if you have this script setup on 2 domains, only 1 webhook URL can be set.

It would have been great to have the possibility to setup a webhook redirection from 1 installation/domain to another using your package as this seems to

[2021-04-08 12:53] mpociot commented on #116
I think this is an issue that should be reported to Paddle than on this package 🙂

[2021-04-08 12:54] driesvints commented on #116
Please contact Paddle as we can't control what features Paddle provides.

[2021-04-08 12:54] #116 closed

[2021-04-08 13:03] Benoit1980 commented on #116
Yes I did already, but they have nothing to fix the problem. You either have to pay Zappier to have it working or build your own solution. I thought it would have been a great little add-on to your package. But if you think it is not worth it, no worry :-) I found a lot of posts about this particular issue on the net, it seems to bother people a lot.

[2021-04-14 11:26] Baspa opened #117 "Display prices after a coupon reduction not working"
- Cashier Paddle Version: 1.2
- Laravel Version: 7.0
- PHP Version: 7.4.16

### Description:
I created a coupon code with a 50% discount in Paddle. As described in the [docs ](https://laravel.com/docs/7.x/cashier-paddle#prices) I wanted to display the new prices with the coupon code applied. I used the code from the documentation like this:

`$plans = Cashier::productPrices([647422, 647406], ['cou

[2021-04-15 16:52] driesvints commented on #117
Works for me:

![Screenshot 2021-04-15 at 18 50 59](https://user-images.githubusercontent.com/594614/114907641-940b3480-9e1b-11eb-93e1-e047b249081f.jpg)

![Screenshot 2021-04-15 at 18 51 12](https://user-images.githubusercontent.com/594614/114907654-97062500-9e1b-11eb-916a-7166abc83514.jpg)

![Screenshot 2021-04-15 at 18 51 46](https://user-images.githubusercontent.com/594614/114907718-a5ecd780-9e

[2021-04-15 16:52] #117 closed

[2021-04-29 19:56] greimers opened #118 "Support CSP nonce for @paddleJS"
When using CSP headers that blocks `unsafe-inline` scripts, you need to set a `nonce` for the script tags.
It would be great if the @paddleJS had a parameter to pass in that nonce similar to how LiveWire supports it with
`@livewireScripts(['nonce' => csp_nonce()])`

I worked around this by manually pasting in the script tags from https://github.com/laravel/cashier-paddle/blob/1.x/resources/views/j

[2021-04-30 07:26] driesvints commented on #118
Can the same nonce be used for multiple scripts?

[2021-04-30 09:30] greimers commented on #118
Yes, the nonce is generated for each page load and is send in the CSP header. That same nonce can then be assigned to all inline scripts. As I understand, the browser will then check the nonces in the page source against the nonce provided in the header.

[2021-04-30 12:15] driesvints commented on #118
Can you send in a PR maybe? I think a single `$nonce` argument can be added.

[2021-05-24 08:59] driesvints commented on #118
Closing this. Feel free to send in a PR.

[2021-05-24 08:59] #118 closed

[2021-05-27 15:49] mpociot opened #120 "TrimStrings middleware breaks signature verification"
- Cashier Paddle Version: 1.4.4
- Laravel Version: 8.43.0
- PHP Version: 8.0.5

### Description:

When a user enters any data with a leading/trailing whitespace, the signature verification is broken, because the `TrimStrings` middleware removed the whitespace, while the provided signature expects the whitespace.

### Steps To Reproduce:

Perform a Paddle request with a leading/trailing whitespace.

[2021-05-27 16:13] driesvints commented on #120
Can you give a specific example of how to do this?

[2021-05-27 16:18] mpociot commented on #120
It happened to me when having a whitespace in a passthrough parameter, but I think if you have whitespace in your name, it should happen too

[2021-05-27 16:25] driesvints commented on #120
@mpociot I'll take a look tomorrow 👍

[2021-05-28 08:55] driesvints commented on #120
This all works for me:

[code]

![Screenshot 2021-05-28 at 10 51 54](https://user-images.githubusercontent.com/594614/119957860-c1aed600-bfa2-11eb-9c80-dea86b871678.jpg)

I tried also to set the name on the card with a leading and trailing space. Funny thing is that Paddle marked the name as invalid when I have a leading space but it doesn't when I have a trailing space. In any case, the trailing

[2021-05-28 08:57] mpociot commented on #120
Okay, then this only happens with a passthrough that contains a leading space:

[code]

[2021-05-28 08:59] driesvints commented on #120
That's not possible. You should get an exception for that. It's not possible to do a charge like that. The passthrough should always be an array. Are you overwriting this somehow?

https://github.com/laravel/cashier-paddle/blob/31c5c183f4f0f2c219785bc3bd84a2805d0e5d6c/src/Concerns/PerformsCharges.php#L67-L69

[2021-05-28 15:30] #120 closed

[2021-05-28 17:44] yoeriboven opened #122 "Fix trialEndsAt more closely represents onTrial"
Should [this PR](https://github.com/laravel/cashier-stripe/pull/1129) on Cashier Stripe also be done on Cashier Paddle?

[2021-05-29 09:10] driesvints commented on #122
Probably yeah. Feel free to send in a PR to master 👍

[2021-05-29 09:10] #122 closed

[2021-06-01 12:17] driesvints commented on #109
Gonna table this one.

[2021-06-01 12:17] #109 closed

[2021-06-04 15:29] #94 closed

[2021-06-11 20:26] Larsklopstra opened #125 "`hasTax()` method"
In some cases taxes are not applicable.

Having a `$price->price()->hasTax()` would be nicer than `$price->price()->rawTax() > 0` to hide something conditionally in the front-end

[2021-06-12 07:26] driesvints commented on #125
Hey @Larsklopstra. Sounds like you can easily send a PR for this one. Feel free to send one in which we can revie👍

[2021-06-12 07:26] #125 closed

[2021-06-14 17:28] Tiththa commented on #115
For anyone referring, set `PADDLE_SANDBOX=true` in ENV if testing in sandbox

[2021-07-01 07:23] Baspa opened #128 "No permission to access resources only when checking for the next payment"
- Cashier Paddle Version: 1.2
- Laravel Version: 7.0
- PHP Version: 7.4

### Description:
I have an application where customers can buy subscriptions. This works perfectly fine, users can actually subscribe to subscription plans without any errors. They can even cancel their subscriptions etc. But when I want to check for the next payment I get the error:

Because users can buy subscriptions and d

[2021-07-01 07:28] #128 closed

[2021-07-19 08:53] Larsklopstra opened #130 "Refund: Undefined array key "refund_request_id""
- Cashier Paddle Version: ^1.4
- Laravel Version: ^8.12
- PHP Version: 8.0.8
- Database Driver & Version: 8.0.25

### Description:

When processing a refund it'll throw an exception:

[code]

### Steps To Reproduce:

It occurs when simply invoking a refund from a billable user:

`$refundRequestId = $user->refund($orderId);`

I'm refunding a user for product charges.

I have a suspicion it doesn't

[2021-08-02 11:36] driesvints commented on #130
Thanks. I've sent in a PR for this: https://github.com/laravel/cashier-paddle/pull/131

[2021-08-02 13:39] #130 closed

[2021-08-15 21:00] Benoit1980 opened #132 "Call to a member function lastPayment() on null"
"require": {
        "php": "^7.4",
        "laravel/cashier-paddle": "^1.4.6",
        "laravel/framework": "^8.54.0",
    },
### Description:
When you run the $subscription->lastPayment(); to check the last payment of users but a user has never paid a membership, the payment is null. It looks like the method is not dealing with null output.

`$lastPayment = $subscription->lastPayment();`

if no

[2021-08-17 13:15] driesvints commented on #132
Thanks, I've sent in a PR here: https://github.com/laravel/cashier-paddle/pull/133

[2021-08-17 13:31] driesvints commented on #132
We just spotted $subscription is null in your code which is the actual bug

[2021-08-17 13:31] #132 closed

[2021-08-17 13:41] Benoit1980 commented on #132
As your colleague says in the PR "Trial subscriptions do create a zero-valued invoice on trial start".
So really your last payment method should check for both a zero value invoice and an empty invoice as not everyone will use the trial method.

[2021-08-17 13:42] driesvints commented on #132
@Benoit1980 the error isn't happening on the subscription. The error you posted is that you don't have a subscription to begin with.

[2021-08-17 13:50] Benoit1980 commented on #132
Yes, this is exactly what I am trying to explain and we both understand each other on this, but, it is the next part that is important.
Imagine if you add your script to an already launched site, many users in there will have absolutely no invoices.

If you have a navbar that checks the subscription status of every user, (some on trial, some old users with no subscriptions at all and others with a

[2021-08-31 22:35] Benoit1980 opened #135 "Refund to be handled differently"
Hello,

I have just had a case where I refunded a customer but his subscription was still on grace period and he obviously used my service for free.

A refund from the Paddle admin panel created this query(from the webhook callback):

[code]

A refund always incurs a complete stop of a subscription, but because the 'ends_at' column is untouched, the grace period is detected.

It would have been gr

[2021-09-02 10:45] driesvints commented on #135
Hi @Benoit1980, thanks for your issue. You're correct, this is something we should look into. What's happening is that the subscription cancelled event comes in but is unaware if the subscription was cancelled by the user (which allows for the grace period) or was refunded by the vendor (your situation). This seems like a difficult thing to solve as we don't know which situation happened from the

[2021-09-02 20:17] Benoit1980 commented on #135
Yes very tricky indeed, Paddle really needs to add this extra event to their platform.

[2021-09-11 16:47] digitalsailweb opened #136 "Single Charge Error 400 The checkout id must be a valid checkout id from local dev only"
- Cashier Paddle Version: v1.4.6
- Laravel Version: v8.58.0
- PHP Version: 8.0.3
- Database Driver & Version:

### Description:
I am trying to make single charge using sandbox credentials from paddle using localhost or laravel valet domain locally.  When I try to click pay button I got error 400 . When I inspect the error inside network tab in chrome the error shows :
The checkout id must be a val

[2021-09-13 10:11] driesvints commented on #136
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-09-13 10:11] #136 closed

[2021-09-13 11:18] goeki85 opened #137 "Affiliates"
Hi everyone,

i have a very specific question which is related to paddle affiliates which is already grandfathered but still works for old Paddle accounts. So Paddle offers an affiliate program and we are already using it. Now we are in the process of migrating everything over to Laravel with Cashier Paddle. Cashier works perfectly except for the affiliate part.

The reason for this is, that the a

[2021-09-13 15:01] driesvints commented on #137
I'm sorry but we don't support affiliates and this question is best asked on a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://web.libera.chat/?nick=laravelnew

[2021-09-14 03:13] digitalsailweb commented on #136
@driesvints  I think to me is a bug . unless see it the other way around.

also fyi , i did post the same thing in discord channel [https://discord.com/channels/297040613688475649/731885496946524181/885613470253477939](url)

for couple of days with no answer.

Also when I use normal api call to get paylink without  cachier-paddle package it works locally ..

so thats why I think it is a bug or I d

[2021-09-14 09:23] driesvints commented on #136
You can't use a paylink in a view like that on an a tag. Always use a paddle button component or a manually rendered link like in https://laravel.com/docs/8.x/cashier-paddle#manually-rendering-pay-links

[2021-09-14 13:21] digitalsailweb commented on #136
I did same thing
`<a href="#!" class="ml-4 paddle_button" data-override="{{ $payLink }}">
    Paddle Checkout
</a>`

I got same error

[2021-09-14 13:22] driesvints commented on #136
@digitalsailweb please try a support channel. I'm sure there's something amis with your Paddle setup or app.

[2021-09-14 13:37] digitalsailweb commented on #136
I can do that @driesvints but I wonder why it is not working and I followed same steps in the docs !! are u sure nothing wrong with package ?

[2021-09-28 11:58] driesvints commented on #135
Hi @Benoit1980. Paddle gotten back to me and they say they're investigating this. Since this isn't an issue with Cashier but with Paddle I'm going to close this. You're free to contact Paddle to follow up with them if you like.

[2021-09-28 11:58] #135 closed

[2021-09-28 12:00] Benoit1980 commented on #135
Thank you for updating me on this :-)

[2021-09-30 21:02] joostvanhoof opened #140 "Query in Subscriber.php will throw a LazyLoadingViolationException if you've prevented lazy loading"
- Cashier Paddle Version: 1.4.6
- Laravel Version: 8.62.0
- PHP Version: 8.0.9
- Database Driver & Version: MySQL 8

### Description:
There is a lazy loaded relationship that will throw a `LazyLoadingViolationException` if you've [prevented lazy loading](https://laravel.com/docs/8.x/eloquent-relationships#preventing-lazy-loading). Not sure if this is a bug, if not: please feel free to close this.

[2021-10-04 09:37] driesvints commented on #140
Hey @joostvanhoof, yes this is intended. It's not feasible to load the billable up front for every request. You can skip this model/relationship if you want by customizing `Model::handleLazyLoadingViolationUsing`.

[2021-10-04 09:37] #140 closed

[2021-10-18 20:20] azankorejo opened #142 "PaddleException You don't have permission to access this resource"
- Cashier Paddle Version: ^1.4
- Laravel Version: ^8.54
- PHP Version: 7.4.1
- Database Driver & Version:

### Description:

I just installed the cashier-paddle package for testing purposes and after setting up the environment keys for paddle sandbox account when I try a basic user subscription it brings up the exception given below

PaddleException You don't have permission to access this resourc

[2021-10-18 20:33] #142 closed, assigned to nobody

[2021-11-22 22:07] norbertjurga opened #144 "Unable to swap plans during trial"
Hello everyone!

Although [documentation](https://laravel.com/docs/8.x/cashier-paddle#changing-plans) is quite clear that you should be able to do so and mantain the remaining trial:

When using swap method during trial I'm getting **LogicException: Cannot swap plans while on trial**.
https://github.com/laravel/cashier-paddle/blob/4137c72188cbcd7f2b35ebf1bcfff5e3be26f137/src/Subscription.php#L767

[2021-11-22 22:08] driesvints commented on #144
Resubmit this with a filled out issue template.

[2021-11-22 22:08] #144 closed

[2021-11-22 22:20] norbertjurga opened #145 "Unable to swap plans during trial"
- Cashier Paddle Version: 1.4.6
- Laravel Version: 8.73.1
- PHP Version: 7.4.7
- Database Driver & Version: MariaDB 10.4.13

### Description:

Although [documentation](https://laravel.com/docs/8.x/cashier-paddle#changing-plans) is quite clear that you should be able to do so and mantain the remaining trial:

When using swap method during trial I'm getting **LogicException: Cannot swap plans while

[2021-11-23 11:39] driesvints commented on #145
Thanks for noting us. This indeed is not possible and is a limitation of Paddle. See: https://developer.paddle.com/api-reference/subscription-api/users/updateuser#usage-notes

<img width="787" alt="Screenshot 2021-11-23 at 12 30 00" src="https://user-images.githubusercontent.com/594614/143017758-490ae577-fa0c-4276-9569-42b2dd7f3ef9.png">

I've sent in a PR to the docs to remove that section: https

[2021-11-23 11:39] #145 closed

[2021-11-23 17:24] norbertjurga opened #146 "Incorrect next payment amount after swapping plans"
- Cashier Paddle Version: 1.4.6
- Laravel Version: 8.73.1
- PHP Version: 7.4.7
- Database Driver & Version: MariaDB 10.4.13

### Description:
`$user->subscription('default')->nextPayment()->amount()` returns wrong amount after swapping plans always giving full price of the plan; this value differs from paddle's dashboard.
#### Cashier's `Payment` instance ($61.5):
![Cashier's `Payment` instance](h

[2021-11-23 17:27] driesvints commented on #146
The screenshot of the dashboard is tiny and unreadable. Please upload a new one.

[2021-11-23 17:31] norbertjurga commented on #146
@driesvints edited issue with better quality screenshot; sorry for that.

[2021-11-23 23:27] BKirev opened #147 "Undefined index: payment_information"
- Cashier Paddle Version: 1.4.6
- Laravel Version: 8.12
- PHP Version: 7.4.3
- Database Driver & Version: mysql  Ver 8.0.27-0ubuntu0.20.04.1 for Linux on x86_64

### Description:
I'm using Spark Paddle, which is using Cashier Paddle under the hood, as we know. I've noticed the following error after some customers cancelled their subscriptions: ```Undefined index: payment_information```

[code]
Her

[2021-11-25 16:04] #147 closed

[2021-11-25 16:04] driesvints commented on #147
Will be in the next release

[2021-11-26 10:15] norbertjurga commented on #146
@driesvints, I took a look at it, and it seems that in `swap` method the response has a good price
https://github.com/laravel/cashier-paddle/blob/d8671049f3e9981bd39c0a16f9a2d51670ba2694/src/Subscription.php#L537
`
"next_payment" => array:3 [▼
    "amount" => 0
    "currency" => "USD"
    "date" => "2021-12-26"
  ]
`

But  `paddleInfo's` getter has wrong amount in response
https://github.com/larav

[2021-11-26 10:17] driesvints commented on #146
I'm afraid there's nothing we can do here. We just consume what Paddle gives us. If the amount in the API is different from the amount in Paddle's dashboard then that looks like a bug to me on Paddle's end. It's best that you contact them about it. Feel free to respond back with any findings.

[2021-11-26 10:17] #146 closed

[2021-11-29 13:36] norbertjurga commented on #146
FYI - info from paddle

[2021-12-15 21:13] ferrari308guy commented on #128
@Baspa Did you discover a solution? I'm running into the same issue...trying to access nextPayment() or lastPayment() results in a permissions error.

[2022-01-15 05:01] Anowar98 opened #151 "How to send passthrough and how to receive and store that passthrough after payment succeeded?"
- Laravel Version: 7.0
- PHP Version: 8.0.10
- Database Driver & Version:

### Description:

I want to send the product id as an array with laravel cashier (paddle) passthrough and after payment succeeded, I want to store it in the database. But how to send passthrough and how to store that passthrough data after payment succeeded?

[2022-01-15 07:01] driesvints commented on #151
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-01-15 07:01] #151 closed

[2022-01-31 17:21] BKirev opened #152 "TrimStrings middleware breaks signature verification - Part 2"
- Cashier Paddle Version: 1.4.8
- Laravel Version: 8.49.2
- PHP Version: 7.4.3
- Database Driver & Version: mysql  Ver 8.0.27-0ubuntu0.20.04.1 for Linux on x86_64

### Description:
The issue seems to be similar to https://github.com/laravel/cashier-paddle/issues/120

I've noticed that _sometimes_ webhooks(**subscription_payment_succeeded** and **payment_succeeded**) are failing with **invalid sign

[2022-02-01 08:12] driesvints commented on #152
I need code to reproduce this.

[2022-02-01 13:15] BKirev commented on #152
I believe you should be able to reproduce it like this from Paddle's webhook alert test page:

![image](https://user-images.githubusercontent.com/6042641/151974439-d20df67b-4b56-4e69-92f1-96e453ac3f02.png)

Here's what Paddle had to say about having one name only in the `customer_name` field:

![image](https://user-images.githubusercontent.com/6042641/151974854-50f77707-63af-4d10-997a-592720cb0543

[2022-02-01 14:24] driesvints commented on #152
This is something we have no control over. For the reason above specifically, we trim each string value in the payload sent to Paddle to generate the pay link: https://github.com/laravel/cashier-paddle/blob/1.x/src/Concerns/PerformsCharges.php#L77

This is a Paddle limitation that we have no control over, sorry.

[2022-02-01 14:24] #152 closed

[2022-02-16 11:55] dieg0v opened #153 "Incorrect format amount"
- Cashier Paddle Version: 1.5.0
- Laravel Version: 9.1.0
- PHP Version: 8.0.2

### Description:

Configuring a new plan in Paddle with a value of 9.95 I have realized that it is formatted incorrectly with a value of 9.94, I am using **spark-paddle v1.2.1.**

### Steps To Reproduce:

[code]

[code]

It could be fixed in **spark-paddle** like this:

[code]

[code]

But I think this behavior is going

[2022-02-17 11:13] driesvints commented on #153
Thanks, I've attempted a fix that we'll merge and tag soon.

[2022-02-17 11:14] driesvints commented on #153
Also: please be aware that this is the cashier issue tracker, not the spark one. Please report any spark issues to Spark support.

[2022-02-17 14:33] driesvints commented on #153
Spark v1.2.2 was just released with a fix.

[2022-03-22 04:24] HassanElshazlyEida commented on #14
I found that PADDLE_PUBLIC_KEY is incorrect which include only keys without -----BEGIN PUBLIC KEY----- and -----End PUBLIC KEY-----

[2022-03-28 07:47] SRK90 commented on #14
@HassanElshazlyEida  re: point 1, issue is not related to that. at least not in my case. in fact it has to be present.

faced same issue - use case:
while faking records, created subscriptions using
[code]

now, the billing page throws permission error, because it needs a entry in receipts table as well.
[code]

It worked after the above action.

[2022-03-28 11:19] pmochine opened #158 "isInitialPayment shows false even though it should be true"
- Cashier Paddle Version: v1.5.2
- Laravel Version: v9.5.1
- PHP Version: 8.0.14
- Database Driver & Version:

### Description:
I'm trying to work with the event `SubscriptionPaymentSucceeded` but while using the public method `isInitialPayment()`, I noticed that it's not working correctly.

To fix the "bug" it should be

[code]

[2022-03-28 12:06] driesvints commented on #158
Hmm that's odd since it should definitely be an integer: https://developer.paddle.com/webhook-reference/ZG9jOjI1MzUzOTk3-subscription-payment-succeeded

<img width="669" alt="Screenshot 2022-03-28 at 14 05 43" src="https://user-images.githubusercontent.com/594614/160394232-5b04da13-ffce-41bc-b1e9-c608a6973b63.png">

[2022-03-28 12:07] driesvints commented on #158
I sent in a PR for this: https://github.com/laravel/cashier-paddle/pull/159

[2022-03-28 12:07] #158 closed

[2022-03-28 12:14] pmochine commented on #158
@driesvints thanks for your fast response and PR. I made a small logger test for you

[code]

And if I look into my logs, I see:
[code]

[2022-03-28 12:24] driesvints commented on #158
@pmochine so it works for you? Btw, you're not placing the array call and type cast between `( )`.

Can you dump the contents of `$event->payload`?

[2022-03-29 05:11] pmochine commented on #158
@driesvints No, it doesn't work. I just wanted to show you that I need to type cast `$event->payload['initial_payment']` to integer so only then does it show "true".

And here is the payload:

[code]

And as you notice, every property from `payload` comes as a string. Not sure if this should be like that. If I look at the dump contents of `receipt`, I see integer values.

Besides, I'm not sure wha

[2022-03-29 07:43] driesvints commented on #158
That's exactly what I'm doing in my PR. The snippet you posted:

`logger((int) $event->payload['initial_payment'] === 1 ? 'true' : 'false');`

Is wrong. You need to do `((int) $event->payload['initial_payment']) === 1`

[2022-04-13 23:41] Tofique-Ahmed commented on #58
can somebody tell me how to get response from paddle while simple charged.

[2022-05-12 16:22] kylemilloy opened #164 "Adding a `fake` method to Cashier"
I'm building an app that leverages Spark and per-seat billing and whenever I add a seat it makes a call to the (in my case) Paddle API and because I'm faking my subscriptions for the tests this returns an exception. What I have done to circumvent this is created a trait that mocks the Http class for the vendor's URL specifically before running tests which touch this API and I'm wondering if this i

[2022-05-13 07:55] driesvints commented on #164
Hey @kylemilloy, thank you for considering to give back! I think this is a good idea. There's an exercise you can do with this by replacing the existing `Http::fake` calls in our test suite with the new `Cashier::fake` call.

Feel free to attempt a PR with that and put it in draft so I can review it before Taylor does.

[2022-05-13 07:55] #164 closed

[2022-10-20 15:47] Rydgel opened #169 "Upcoming Changes to ID format for Invoicing"
I received yesterday an email from Paddle saying some API fields are going to be moved from integer to string.
I was wondering if this library will support this change.

Here is the email:

[2022-10-24 16:12] driesvints commented on #169
Hi there. Judging from these changes, we have no reason to believe it'll break Cashier Paddle.

[2022-10-24 16:12] #169 closed

[2022-11-10 08:54] goeki85 opened #173 "TrimStrings middleware breaks signature verification - Part 3"
- Cashier Paddle Version: 1.6.1
- Laravel Version: 9.27.0
- PHP Version: 8.0.2

### Description:

This issue is already described in https://github.com/laravel/cashier-paddle/issues/120 and https://github.com/laravel/cashier-paddle/issues/152

Cashier responds with a 403 error to the webhook **subscription_payment_succeeded** from Paddle if the field **customer_name** inside the webhook payload ha

[2022-11-10 16:08] driesvints commented on #173
It should not be possible to trigger this as these strings are trimmed before the paylink is generated: https://github.com/laravel/cashier-paddle/blob/1.x/src/Concerns/PerformsCharges.php#L77

I disagree that this is a Cashier issue. Clearly, as Paddle indicates themselves this is a Paddle issue. It's up to Paddle to make sure that whitespace does not matter here like other payment providers do (S

[2022-11-10 16:08] #173 closed

[2022-11-10 16:18] tvfire commented on #173
Hey Dries,

totally understand that and i know it's not normal to get a field with additional whitespaces.
But not everyone is using Paylinks with Cashier. I myself for example use the Paddle.js checkout because this is required to use the affiliate feature of Paddle.

I just sent the passthrough parameter manually and build it like Cashier does build it. So this issue is not related to generated

[2022-11-10 18:31] driesvints commented on #173
@goeki85 ah that's actually a good solution that I hadn't thought of. Thanks for sharing 👍